*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

                            /*  1st Div Css */

#parent-div{
    display: flex;
    min-height: 100vh;
}

#Links-column{
    width: 6%;
}

#content{
    width: 60%;
    padding: 0px 30px;
} 

#image{
    width:34%;
}


.icon{
   font-size:x-large;
    padding: 10px 0px;
    cursor: pointer;
}

#icon-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


/*  2nd Div */


.background{
    background-image: url("../Assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center center;
    opacity: 0.8;
}


                            /*  3rd Div CSS */
header nav a{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    color: black;
}
header nav{
    padding: 26px 0px;
}
.active{
    color: brown ;
}
main{
    padding:30px 0px;
}
main h1{
    font-size: 55px;
    padding: 10px 0px;
}
main p{
    line-height: 1.8;
}
footer{
padding: 15px 0px 0px 0px ;
}
footer a{
    color: brown;
}

/*  Media Queries */
/* Mobile View */

@media only screen and (min-width: 0px) and (max-width: 768px){
    #parent-div{
        width:85%;
        margin: 0 auto;
        padding: 0;
    }
    #Links-column,#image,#content{
        width: 100%
    }
    #parent-div,#icon-flex{
        display: block;
    }
    #icon-flex{
        display: block;
    }
   #box1{
        display: none;
    }
   .logo1{
        content: url('../Assets/images/logo2.jpeg');
        height: 24px;
        width: 210px;
    }
    #box2{
        border-bottom: 1px solid rgba(110, 110, 110, 0.674);
        margin-bottom: 20px;
    }
    #image{
        width:100%;
    }
    .background{
        height:30vh;
        opacity: 1;
    }
    #content{
        padding: 0;
    } 
    footer{
        font-size: 13px;
        padding: 10px 0px 120px 0px;
        text-align: center !important;
    }

    header nav a{
        display: block;
        padding: 5px 0px;
        text-decoration: none;
        color: black;
    }
    header nav{
        padding: 15px 0px;
    }
    main h1{
        font-size: 45px;
    }
}

/*  Tablet View */
 @media only screen and (min-width: 769px) and (max-width: 992px) {
    #parent-div{
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    #box1{
        display: block;
    }
    #icon-flex{
    flex-direction: row-reverse;
    }
    #Links-column,#image,#content{
        width: 100%;
        padding: 0;
    }
    #box1,#box2{
        width: 50%;
    }
    .logo1{
        content: url('../Assets/images/logo2.jpeg');
        height: 24px;
    }
    #box1{
    display: flex;
    justify-content: flex-end;
    }
    #box1 .icon{
        padding: 0 10px;
    }

    .background{
        height:30vh;
        opacity: 1;
        padding: 0;
        margin: 0 auto;
    }
    #Links-column{
        border-bottom: 1px solid rgba(110, 110, 110, 0.674);
        margin-bottom:20px ;
    }
    footer{
        text-align: center;
        padding: 20px 0px 80px 0px;
    }
} 